body {
  padding-top: 5px;

}

body {
  background-color: #E2DFD7;
  color: #3f2a14;
  font-family: arial;
}

h3 {
  font-size: 2.5vw;
}

.navbar-custom a {
  color: #3f2a14;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}

.navbar-custom a:hover {
  color: #697268;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 480px;
  width: 100%;
  margin-top: 10px;
}

.container {
  letter-spacing: 0.1em;
}

.container-heading {
  letter-spacing: 0.2em;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: -30px;

}

.row {
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1.9em;
  margin-right: -100px;
  margin-left: -100px;
}

.col-md {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.column2 {
  padding-top: 20px;
}

.responsive {
  width: 100%;
  height: auto;
}
