body {
  padding-top: 5px;
  background-color: #E2DFD7;
  color: #3f2a14;
  font-family: arial;

}

.navbar-custom a {
  color: #3f2a14;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}

.navbar-custom a:hover {
  color: #697268;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}

h3 {
  letter-spacing: 0.1em;
  text-align: center;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 480px;
  width: 100%;
  margin-top: 10px;

}

.container-heading {
  letter-spacing: 0.2em;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 2vw;
  margin-bottom: 2vw;

}

.footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: #E2DFD7;
  color: #3f2a14;

}

@media only screen and (max-width: 767px) {

   h3 {
      font-size: 2.71vw;
    }

    body h3 {
      font-size: 3.3vw;
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: bold;
    }

   footer {
     font-size: 2.71vw;
   }
}
