body {
  padding-top: 5px;
  background-color: #E2DFD7;
  color: #3f2a14;
  font-family: arial;

}

h1 {
  text-align: center;
  letter-spacing: 0.05em;

}

.navbar-custom a {
    color: #3f2a14;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    padding-top: 0px;
}

.navbar-custom a:hover {
    color: #697268;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    padding-top: 0px;
}

.container-heading {
  letter-spacing: 0.2em;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 2vw;
  margin-bottom: 2vw;

}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  background: #E2DFD7;
  color: #3f2a14;

}

form {
  text-align: center;
  line-height: 2em;
  height: 80%;
  overflow: auto;
  padding-top: 20px;

}

@media only screen and (max-width: 767px) {

  h1 {
    font-size: 5vw;

  }

  footer {
    font-size: 2.7vw;
  }
}
