body {
  padding-top: 5px;
  background-color: #D0C6C7;
  color: #3f2a14;
  font-family: arial;
}

h3 {
  text-align: center;
  letter-spacing: 0.05em;

}

h1 {
  text-align: center;
  letter-spacing: 0.05em;


}

.navbar-custom a {
  color: #3f2a14;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}

.navbar-custom a:hover {
  color: #697268;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 900px 400px;
  -o-background-size: cover;
  height: 480px;
  width: 50%;
  margin: 10px;

}


.container-heading {
  letter-spacing: 0.2em;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 2vw;
  margin-bottom: 2vw;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: #E2DFD7;
  color: #3f2a14;

}

@media only screen and (max-width: 767px) {

   h1 {
      font-size: 4.5vw;
   }

   h3 {
      font-size: 3.4vw;
   }

   footer {
     font-size: 2.7vw;
   }

}
