body {
  padding-top: 5px;
  background-color: #D0C6C7;
  color: #3f2a14;
  font-family: arial;
}

h3 {
  text-align: center;
  letter-spacing: 0.05em;

}

h1 {
  text-align: center;
  letter-spacing: 0.05em;


}

.navbar-custom a {
  color: #3f2a14;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}

.navbar-custom a:hover {
  color: #697268;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  padding-top: 0px;
}


.col-sm-6 {
  background-image: url('https://i.etsystatic.com/19234569/r/il/103ed5/1819569169/il_794xN.1819569169_8irn.jpg');
}

.other {
  background: #a4a4a4;
}


}



}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: #E2DFD7;
  color: #3f2a14;

}

@media only screen and (max-width: 767px) {

   h1 {
      font-size: 4.5vw;
   }

   h3 {
      font-size: 3.4vw;
   }

   footer {
     font-size: 2.7vw;
   }

}
