body {
  padding-top: 5rem;

}
.starter-template {
  text-align: center;
}

.row {
  text-align: center;
}

body {
    background-color: #0D1F2D;
    color: #FAE1DF;
    font-family: arial;

}

.navbar.navbar-expand-md.navbar-dark a {
    color: #FAE1DF;
}

.training {
  width: 70%;
}

body h4 {
  padding-bottom: 5px;
}

.jumbotron {
  padding: 0px;
  margin: 0px;
}
